
.main {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p{
  color: rgb(242, 181, 106);
  font-size: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 34, 34);
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.2rem 2.0rem;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.button {
  display: block;
  margin: 0.5em auto;
  padding: 0.5rem 0.5rem;
  font-family: 'Roboto', sans-serif;
  
}

.h2 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
}

